﻿@model IEnumerable<AR_CRM_App.Models.Articolo>

@{
    ViewBag.Title = "Lista Articoli";
}

<h2>Lista Articoli</h2>

<p>
    @Html.ActionLink("Nuovo Articolo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Modifica Articolo", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.Id }) |
            @Html.ActionLink("Elimina Articolo", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
