﻿@model AR_CRM_App.Models.Cliente

@{
    ViewBag.Title = "Elimina Cliente";
}

<h2>Elimina Cliente</h2>

<h3>Vuoi eliminare questo cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagSoc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagSoc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagSoc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagSoc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RagSoc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RagSoc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RagSoc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RagSoc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Localita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Localita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Prov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Prov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Annulla Eliminazione", "Index")
        </div>
    }
</div>
