﻿@model AR_CRM_App.Models.Cliente

@{
    ViewBag.Title = "Dettagli Cliente";
}

<h2>Dettagli Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagSoc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagSoc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagSoc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagSoc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RagSoc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RagSoc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RagSoc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RagSoc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Localita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Localita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Prov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Prov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mitt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mitt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZonCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatUltMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatUltMod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica Cliente", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Torna alla Lista", "Index")
</p>
