﻿@model IEnumerable<AR_CRM_App.Models.Cliente>

@{
    ViewBag.Title = "Lista Clienti";
}

<h2>Lista Clienti</h2>

<p>
    @Html.ActionLink("Nuovo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RagSoc1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RagSoc2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_RagSoc1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_RagSoc2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RagSoc1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RagSoc2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_RagSoc1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_RagSoc2)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Visualizza", "Details", new { id=item.Id }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
