﻿@model AR_CRM_App.Models.Utilizzatore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilizzatore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SynchroteamApiKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SynchroteamApiKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SynchroteamAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SynchroteamAccount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
