﻿@model IEnumerable<AR_CRM_App.Models.Utilizzatore>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SynchroteamApiKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SynchroteamAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RagioneSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SynchroteamApiKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SynchroteamAccount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
