﻿@model AR_CRM_App.Models.Articolo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cod_art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTipolog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTipolog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMarche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMarche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTipSrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTipSrv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvRifVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvRifVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvRifID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvRifID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvRifID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvRifID2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvMagVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvMagVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvMagID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvMagID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvMagID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvMagID2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Z)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Z)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
