﻿@model IEnumerable<AR_CRM_App.Models.Articolo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTipolog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDMarche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTipSrv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvRifVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvRifID1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvRifID2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvMagVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvMagID1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvMagID2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTipolog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDMarche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTipSrv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvRifVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvRifID1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvRifID2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvMagVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvMagID1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvMagID2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
