﻿@model AR_CRM_App.Models.Offerta

@{
    ViewBag.Title = "Dettagli Offerta";
}

<h2>Dettagli Offerta</h2>

<div>
    <h4>Offerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCliPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oggetto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oggetto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saluti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saluti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsTempi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsTempi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accettata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accettata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rifiutata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rifiutata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoRif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoRif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicNomPrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicNomPrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicNumPrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicNumPrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicDataPrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicDataPrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Consegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Consegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_SpedMez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_SpedMez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Imballo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Imballo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Pagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Banca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Banca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_RifSig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_RifSig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_KitInstDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_KitInstDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_KitInst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_KitInst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_InstForfait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_InstForfait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_InstTrasp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_InstTrasp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_InstOrePrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_InstOrePrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Usato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Usato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ValUsato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ValUsato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ScontoPerc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ScontoPerc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ProgDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ProgDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ProgVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ProgVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_ValUsatoReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_ValUsatoReal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_CodPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_CodPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Trasporto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Trasporto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Garanzia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Garanzia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Inst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Inst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_PropNol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_PropNol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_LasciaTot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_LasciaTot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Canone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Canone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Acconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Acconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CopieCol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CopieCol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CostoCopieCol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CostoCopieCol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CopieBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CopieBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CostoCopieBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CostoCopieBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_DurataContr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_DurataContr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_PerFatt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_PerFatt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CopiePerFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CopiePerFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_PrnTot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_PrnTot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDComm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDComm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDReferente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDReferente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOrdCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOrdCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatOrdCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatOrdCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_cme_cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_cme_cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ScoPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ScoPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_CodArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_CodArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Qta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Qta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Importo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Conf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Conf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodDestDiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodDestDiv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoImp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoImp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_ScontoImp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ScontoImp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAssEff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAssEff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAssDif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAssDif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAssCau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAssCau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progressivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progressivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Versione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Versione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revisione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revisione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Torna Indietro", "Index")
</p>
