﻿@model IEnumerable<AR_CRM_App.Models.View.OffertaViewModelListItem>

@{
    ViewBag.Title = "Elenco Offerte";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuova Offerta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RagSoc1)
            @Html.DisplayNameFor(model => model.Cliente.RagSoc2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progressivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Versione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revisione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accettata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rifiutata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RagSoc1)
            @Html.DisplayFor(modelItem => item.Cliente.RagSoc2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progressivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Versione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revisione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accettata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rifiutata)
        <td>
            @Html.ActionLink("Modifica Offerta", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Visualizza Dettagli", "Details", new { id = item.Id }) |
            @Html.ActionLink("Elimina Offerta", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
