﻿@model AR_CRM_App.Models.VoceOfferta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VoceOfferta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdOfferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdOfferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipRig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipRig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdArticolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdArticolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDForn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDForn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataArrivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataArrivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdVoce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdVoce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMacchina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMacchina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GruMer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GruMer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatLun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatLun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatLar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatLar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatSpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatSpe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatPreKG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatPreKG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatPerAum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatPerAum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatPreLav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatPreLav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forecast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forecast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InAss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InAss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumMac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDReparto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDReparto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoOrario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoOrario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
