﻿@model IEnumerable<AR_CRM_App.Models.VoceOfferta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdOfferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipRig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdArticolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDForn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataArrivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdVoce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoPer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDMacchina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GruMer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatLun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatLar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatSpe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatPreKG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatPerAum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatPreLav)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forecast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InAss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumMac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDReparto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoOrario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdOfferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipRig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdArticolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Listino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDForn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataArrivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdVoce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoPer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PathFoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDMacchina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GruMer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatLun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatLar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatSpe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatPreKG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatPerAum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatPreLav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodArt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodMarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forecast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InAss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumMac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDReparto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoOrario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
